* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 8px 5px 5px rgba(0,0,0,0.34); 
    box-shadow: 1px 8px 5px 5px rgba(0,0,0,0.34);
}

.header-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(131, 131, 131);
}

.label_container {
    position : absolute;
    display: flex;
    top: 10rem;
    flex-direction: row;
}

.label {
    margin-left: 1rem;
    display: flex;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 20px;
    width: 40px;
}

.label.off {
    /* OFF status */
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.label.on {
    /* ON status */
    background-color: #357edd;
    border: 1px solid #357edd;
    /* Push the circle to the right */
    justify-content: flex-end;
}

.label__input {
    /* Hide the input */
    display: none;
}

.label__circle {
    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    width: 16px;

    background-color: #fff;

    /* OFF status */
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.container {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position : relative;

}
.color-display {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-radius: 5px;
    width: 40%;
    height: 100%;
    padding: 2.5rem;
    margin: 10rem fit-content;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
}

.color-display span {
    font-weight: bold;
    font-size: 2rem;
}

.button {
    /* Center the content */
    position: absolute;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
    color: #000;
    top: 5rem;
    background: transparent;
    width: 150px;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}
